# DWM
.config/dwm/*.orig
.config/dwm/*.rej
.config/dwm/util.o
.config/dwm/dwm
.config/dwm/dwm.o
.config/dwm/drw.o

# DWMBLOCKS
.config/dwmblocks/blocks.h
.config/dwmblocks/*.d
.config/dwmblocks/*.o
.config/dwmblocks/*.ko
.config/dwmblocks/*.obj
.config/dwmblocks/*.elf
.config/dwmblocks/*.ilk
.config/dwmblocks/*.map
.config/dwmblocks/*.exp
.config/dwmblocks/*.gch
.config/dwmblocks/*.pch
.config/dwmblocks/*.lib
.config/dwmblocks/*.a
.config/dwmblocks/*.la
.config/dwmblocks/*.lo
.config/dwmblocks/*.dll
.config/dwmblocks/*.so
.config/dwmblocks/*.so.*
.config/dwmblocks/*.dylib
.config/dwmblocks/*.exe
.config/dwmblocks/*.out
.config/dwmblocks/*.app
.config/dwmblocks/*.i*86
.config/dwmblocks/*.x86_64
.config/dwmblocks/*.hex
.config/dwmblocks/dwmblocks
.config/dwmblocks/*.dSYM/
.config/dwmblocks/*.su
.config/dwmblocks/*.idb
.config/dwmblocks/*.pdb
.config/dwmblocks/*.mod*
.config/dwmblocks/*.cmd
.config/dwmblocks/.tmp_versions/
.config/dwmblocks/modules.order
.config/dwmblocks/Module.symvers
.config/dwmblocks/Mkfile.old
.config/dwmblocks/dkms.conf

# EMACS
.config/emacs/auto-save-list
.config/emacs/elpaca
.config/emacs/elpa
.config/emacs/transient
.config/emacs/.org-id-locations
.config/emacs/config.el
.config/emacs/projectile-bookmarks.eld
.config/emacs/recentf
.config/emacs/.cache/*

# NVIM
.config/nvim/plugin/packer_compiled.lua
